fastapi==0.105.0
jose==1.0.0
jsonlines==4.0.0
google-generativeai
pandas==2.1.4
passlib==1.7.4
pydantic==2.5.2
python-dotenv==1.0.0
python_jose==3.3.0
PyYAML==6.0.1
SQLAlchemy==2.0.23
starlette
uvicorn
bcrypt
python-multipart